html{
  overflow-x:hidden;
}
body {
  color:#fff;
  font-family: 'Alegreya Sans';
  color:white;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x:hidden;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background:black;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 2px solid black;
  border-top-color:white;
  border-bottom-color:white;
  border-radius:50%;
  width: 50px;
  height: 50px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 0.9s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:red;
  color:black;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background:lightpink;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
nav{
    height: 6rem;
    width: 100vw;
    margin-top: 0 !important;
    background-image: linear-gradient(to right,rgba(0,0,0,0.2), rgba(0,0,0,0.9), rgba(0,100,90,0.9));
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}
/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
    margin-top: 3rem;
}
.logo img {
    height: 9rem;
    width: 9rem;
}
.nav-link {
  font-size:1.1rem;
  font-family: "Open Sans", sans-serif;
}
nav ul li .fa{
    color:gold;
  }
.navbar-nav a:hover{
  box-shadow:0px 0px 10px black;
  border-radius:7px;

}
.navbar-nav .active{
  box-shadow:0px 0px 10px white;
  border-radius:7px;
}
/*Stying for small screens*/
@media screen and (max-width: 999px){
  nav{
    position:fixed;
    z-index: 3;
    background-image: linear-gradient(rgba(10,0,50,0.9), rgba(0,0,0,0.1));
  }
  nav ul{
    background-color:#222;
    border-radius: 10px;
    text-align: center;
  }
  .logo{
    margin-top: 0 !important;
  }
  .logo img{
    height: 5.5rem;
    width: 5.5rem;
  }
  nav .fa{
    display: block;
    font-size: 30px;
  }
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  padding-left: 20px;
}

.header-social-links a {
  color: #222222;
  padding-left: 6px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
  font-size: 16px;
}

.header-social-links a:hover {
  color: #34b7a7;
}

@media (max-width: 992px) {
  .header-social-links {
    padding: 0 48px 0 0;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #e7f8f6;
}

.section-title {
  text-align: center;
  padding-top: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  color:#fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background-image: linear-gradient(blue, green);
  border-radius:5%;
  width:100%;
}
.services .icon-box:hover{
    box-shadow: 0 0 35px 0 white;
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color:white;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  color:white;
  font-size: 14px;
  margin-bottom: 0;
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}
.row iframe{
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  width:90%;
  height:90%;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color:black;
  padding: 30px 0;
  color:#fff;
  font-size: 14px;
  text-align: center;
  width:100%;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}


